html body{
  width: 100%;
  border: 0;
  height: 100%;
}
body {
  background-color: whitesmoke;
  overflow-x: hidden;
  height: 100%;
}
#entete{
  
}
#banner{
  position: relative;
  height: 410px;
  width: 110%;
  background-size: cover;
}
#GT{
 color: black;
  text-align: center;
}
#navbar {
  overflow: hidden;
  background-color: #333;
  position:relative;
  top: -153px;
  width: 110%;
  left: 0%;
}
/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: underline;
  position: relative;
  left: 38%;
}
/* Page content */
.content {
  padding: 16px;
}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 60px;
}
#navbar a:hover, .dropdown:hover .dropbtn {
  background-color: darkgreen;}
#title1{
  text-align: center;
  text-decoration: underline;
  position: relative;
  top: -150px;
  left: 40px;
}
#desk2{
  font-family: 'Bungee', cursive;
  font-size: 30px;
  text-align: center;
  position: relative;
  top: -145px;
  left: 40px;
}
#trait1{
position: relative;
  top: -160px;
  left: 45px;
}
#chiffre{
list-style-type:disc;
  font-family: 'Bungee', cursive;
  font-size: 30px;
  text-align: center;
  position: relative;
  top: -100px;
  left: 40px;
}
#trait2{position: relative;
  top: -40px;
  left: 45px;
}
#join{
  font-family: 'Bungee', cursive;
  font-size: 45px;
  text-align: center;
  position: relative;
  left: 40px;
}
.fa {
  padding: 20px;
  font-size: 100px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}
/* Set a specific color for each brand */
/* Facebook */
.fa-youtube {
  background: #d30000;
  color: white;
position: relative;
  bottom: 70;
  left: 25%;
}
/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
  position: relative;
  bottom: 70;
  left: 75%;
}
