.button{
  background-color: #4CAF50;
  font-size: 20px;
  border-radius: 8px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  width: 100%;
  padding: 12px 28px;
  text-align: center;
  color: white;
  position: relative;
  top: 300px;
  left: 40%;
}
body{
  background-color: whitesmoke;
}
